.App {
  font-family: sans-serif;
  text-align: center;
}
.nav-container {
  border: black solid 2px;
  padding: 10px;
  background-color: grey;
}
.nav-container a {
  margin: 5px;
  font-size: 20px;
  color: white;
}
.order-placed {
  color: green;
  margin: 20px;
  text-align: center;
}
.page-not-found {
  color: red;
}
.products {
  margin-top: 3px;
}
.prod-heading a {
  text-decoration: none;
  color: grey;
}
.prod-heading {
  display: flex;
  grid-gap: 5px;
  margin-top: 10px;
}
.search-container {
  justify-content: center;
  margin-top: 20px;
  display: flex;
  grid-gap: 10px;
}
.true {
  color: green;
}
.false {
  color: red;
}
